/* override */
.md-popup {
  zoom: .6 !important;
}

.md-popup-box {
  box-shadow: none !important;
}

.popup p {
  background: #fff;
}

.demo-wrapper {
  .md-example-content {
    position relative;
    overflow hidden;
  }

  .md-dialog .md-popup-box, .md-slide-up, .md-popup {
    zoom: 1 !important;
  }

  .md-action-bar {
    position: static;
    background: ghostwhite;
  }

  &.drop-menu-demo {
    .md-drop-menu-list {
      padding: 0px;
    }

    .md-example-section {
      height: 300px;
    }

    .md-drop-menu + .content {
      font-size: 18px;
    }   
  }

  .md-example-child-stepper {
  
  }

  .md-amount {
    font-size: 40px !important;
  }
}

@media (max-width: 640px) {
  .demo-wrapper {
    .md-icon.icon-font.md {
      font-size: 16px;
    }

    .md-button {
      font-size: 18px !important;
    }
    .md-button.link {
      font-size: 12px !important;
    }

    .md-field .md-cell-item-body{
      .md-cell-item-content {
        font-size: 18px;
      }
      .md-cell-item-right {
        font-size: 14px;
      }
      .md-cell-item-brief {
        font-size: 12px;
      }
      p {
        margin: 0;
        padding: 0;
      }
    }

    .md-detail-item {
      font-size: 14px;
    }

    .md-drop-menu, .md-cell-item-content, .md-steps .step-wrapper .icon-wrapper .md-icon {
      font-size: 16px !important;
    }

    .md-field-item-title {
      font-size: 17px;
    }

    .md-drop-menu-bar {
      z-index: 2;
    }

    .md-example-child-drop-menu-3 .md-drop-menu-custom-title {
      font-size: 14px;
    }
  
    .md-example-child-drop-menu-3 .md-drop-menu-custom-brief, .md-tag .size-large {
      font-size: 12px;
    }

    .md-notice-bar, .md-steps .step-wrapper .text-wrapper .name, .md-tab-bar-item {
      font-size: 14px;
    }

    .md-example-child-progress .progress-value, .slide-page, .md-example-child-swiper-3 .banner-item, .md-example-child-tab-bar-4 .custom-item .text {
      font-size: 12px;
    }

    .md-stepper-number input {
      position relative;
      top: -24px;
      font-size: 13px;
    }

    .md-tag .size-small {
      font-size: 10px;
    }

    .md-amount {
      font-size: 18px !important;
    }
  }

  .demo-wrapper .md-action-bar .price {
    font-size: 24px;
  }

  .md-example-child-tabs-0 .content {
    margin: 0 !important;
    font-size: 14px !important;
  }

  .md-action-sheet-content, .md-action-sheet-item {
    font-size: 18px !important;
  }

  .md-bill-header {
    .title {
      font-size: 30px !important;
    }

    .desc {
      font-size: 13px !important;
    }
  }

  .md-bill-footer .footer-slot {
    font-size: 10px !important;
  }

  .md-bill-title {
    font-size: 18px !important;
  }

  .md-bill-no, .md-captcha-btn {
    font-size: 12px !important;
  }

  .md-number-keyboard-container .keyboard-key .keyboard-key-item {
    font-size: 26px !important;
  }

  .md-captcha-title {
    font-size: 22px !important;
  }

  .md-captcha-message {
    font-size: 14px !important;
  }

  .md-codebox-box {
    font-size: 24px !important;
  }

  .md-dialog-close .md-icon {
    font-size: 18px !important;
  }
}

.dark {
  .md-field {
    background-color: var(--c-bg);
  }

  .md-example-child-tabs .md-tab-bar {
    background-color: var(--c-bg);
  }

  .md-example-child-tabs-0 .content {
    background-color: var(--c-bg);
  }

  // .md-bill {
  //   background-color: var(--c-bg) !important;
  // }
  .md-number-key-item {
    background-color: var(--c-bg);
  }
}

.demo-component {
  overflow: hidden;
}
