@import '../../../packages/shared/src/style/mixin/util'
@import '../../../packages/shared/src/style/mixin/theme.components'
@import '../../../packages/shared/src/style/mixin/theme.basic'

// @import '~nib/lib/nib/vendor'
// @import '~nib/lib/nib/gradients'

// md-button-primary-fill=red

.md-toast, .md-dialog
  zoom .6

.md-example-child-drop-menu
  height 100%
.md-example-child-icon-0
  zoom .6 !important
  .md-example-item
    display flex
    flex-direction column
    align-items center
    justify-content center
    width 25% !important