@font-face
  font-family "source-code-pro-special"
  font-style normal
  font-weight normal
  src url(http://img-hxy021.didistatic.com/static/manhattan_fe/do1_Tf31E1Eb66YYynBMRI1y) format("truetype")

// @font-face
//   font-family "Quicksand"
//   font-style normal
//   font-weight normal
//   src url(https://fonts.gstatic.com/s/quicksand/v21/6xKtdSZaM9iE8KbpRA_hK1QNYuDyPw.woff2) format("truetype")

html
  -webkit-text-size-adjust unset
  -ms-text-size-adjust unset

.md-doc-header_search
  input
    background  #edf2f7 url(https://pt-starimg.didistatic.com/static/starimg/img/P18JTKMBiO1605257233263.png) 0.6rem 0.6rem no-repeat
    background-size .8rem
    border none

.md-doc-layout_content_main
  hr
    position relative
    margin-bottom 3em
    height 6px
    border none
    border-radius 3px
    background #eaecef url(https://pt-starimg.didistatic.com/static/starimg/img/CjKOpzMOEP1605256752487.png) center repeat-x
    background-size contain
    // &::after
    //   content ' '
    //   position absolute
    //   top 0
    //   left 0
    //   right 0
    //   height 6px
    //   background url('https://pt-starimg.didistatic.com/static/starimg/img/ysyKqbtzBB1605256281781.png') repeat-x

// demo
.md-doc-demo-wrapper
  p
    margin unset

  ul, ol
    padding-left 0
  // all unset

  h2
    border none
  
  p, ul, ol
    line-height unset

// markdown
.content__default >
  table
    display inline-table
    width 100%
    margin-bottom 2em
    font-size .8em
    line-height 1.5em
    border-radius 6px
    overflow hidden
    // background-color #fafafa
    tr
      border none
      &:nth-child(2n+1)
        background-color #fafcfd
    th, td
      padding 1.5em 1em
      box-sizing border-box
      sup.version-before, sup.version-after, .md-doc-platform-tag
        position absolute
        top 0.5em
        right 0
      .md-doc-platform-tag.small
        .md-doc-platform-tag_item
          height 1.6em
          line-height 1
          padding .1em .4em
          span
            font-size 12px
            zoom .8

    th
      text-align left
      white-space nowrap
      color #988686
      font-weight bold
      background #f0f0f0
      border none
      &:first-child
        border-radius 6px 0 0 0
      &:last-child
        border-radius 0 6px 0 0
    td
      position relative
      // padding 1.5em
      // font-size 13px
      line-height 2
      border none
      // border-bottom .5px solid #ebebeb
      &:first-of-type, &:nth-of-type(3)
        font-size 1.1em
        font-family AvenirNext-Medium,Microsoft Yahei,Lato,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Verdana,Tahoma,sans-serif
      &:first-of-type
        font-weight 600
      &:nth-of-type(3)
        color $accentColor
      &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4)
        width 15%
        a
          font-style italic
          font-weight 600
          text-decoration underline
          text-decoration-style dotted
      // &:nth-of-type(3), &:nth-of-type(4)
      //   width 10%
    
  ul, li, p
    margin-top 8px
    img
      max-width 100%
      margin-top 1em
  ul, li, ol


  img
    max-width 100%
    margin-top 1em
      
  h2
    margin-top 1.5em
    border none
  h3, h4
    margin-top 1em

.contains-task-list
  padding-left 0
  .task-list-item
    list-style none

    input.task-list-item-checkbox
      -webkit-appearance none
      outline none
      width .8em
      height .8em !important
      margin-right .3em
      border solid 1px $accentColor !important
      border-radius 50% !important

    input.task-list-item-checkbox:checked
      background-color #abcefd

div[class*="language-"]
  margin-bottom 2em
  background-color #2f495e
div[class*="language-"] pre, div[class*="language-"] pre[class*="language-"]
  code
    font-size .9em
    font-family "source-code-pro-special"
    // font-family Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace
    font-weight 600
    // color #a5cee1
    // text-shadow 0 1px 0 rgba(23, 31, 35, 0.5)

blockquote
  border-radius 2px
  border-left 0.2rem solid $accentColor
  background-color #F9FAFB
  font-size .9em

.custom-block
  border-radius 4px
  p, li
    margin-top 8px
    font-size .9em
    color #666f83
    &.custom-block-title
      margin-bottom 10px
      color #111A34
  &.tip
    border-color $accentColor
    background-color #F9FAFB

:not(pre) >code
  margin 0 3px
  padding 2px 5px
  color #666f83
  font-size .8em
  font-weight 400
  // font-family "source-code-pro-special"
  background-color #f2f4f5
  border-radius 3px
  border 1px solid #ebebeb

sup.version-before, sup.version-after
  display inline-flex
  align-items center
  height 2em
  line-height 1
  padding .1em .8em
  font-size .6em
  font-style normal
  font-weight 400
  font-family DINAlternate-Bold,AvenirNext-Medium,Microsoft Yahei,Lato,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Verdana,Tahoma,sans-serif
  // color #fff
  border-radius 20px
  border-style solid
  border-width 1px
  box-sizing border-box

sup.version-after
  border-color $accentColor
  color $accentColor

sup.version-before
  border-color #f56c6c
  color #f56c6c

@media (max-width: 1000px)
  .content__default >
    table
      display block