.DS_Store
node_modules
dist
lib
lib-vw
# 这部分目录需要vue cli的generator在每次构建时生成
.mand-mobile
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
packages/builder-core/coverage
packages/builder-core/test/__temp__/softlinkdir
packages/builder-core/test/__temp__/vue/_webpack.config.js
packages/builder-core/test/__temp__/vue/.browserslistrc
packages/builder-core/test/__temp__/vue/.gitignore
packages/builder-core/test/__temp__/vue/babel.config.js
packages/builder-core/test/__temp__/vue/package.json
packages/builder-core/test/__temp__/vue/README.md
packages/builder-core/test/__temp__/vue/yarn.lock
packages/builder-core/test/__temp__/vue/public/favicon.ico
packages/builder-core/test/__temp__/vue/public/index.html
packages/builder-core/test/__temp__/vue/src/App.vue
packages/builder-core/test/__temp__/vue/src/main.js
packages/builder-core/test/__temp__/vue/src/assets/logo.png
packages/builder-core/test/__temp__/vue/src/components/HelloWorld.vue
